.navigation {
  display: flex;
  justify-content: flex-end;
}

.navbar {
  display: flex;
  justify-content: center;
  list-style: none;
}

.nav-links {
  margin-right: 30px;
}

.nav-links a {
  color: #000;
  text-decoration: none;
}

.nav-links a:hover {
  text-decoration: none;
}